{{template "base" .}} 

{{define "title"}} This is Home Page{{end}}

{{define "summary"}}
<p>
Very Long Summary Lorem ipsum dolor sit amet consectetur adipisicing elit.
Sapiente optio dolorem quam blanditiis, maxime iure nulla voluptatum
cupiditate deserunt, illo illum architecto voluptatem laboriosam inventore
animi quaerat culpa recusandae fugit. Lorem, ipsum dolor sit amet
consectetur adipisicing elit. Quae voluptatum error ab labore inventore
distinctio explicabo quis accusantium, facere nam totam itaque
necessitatibus, sit excepturi sint sequi autem blanditiis nemo?
</p>
{{end}}

{{define "content"}}
<p>
Very Long Content Lorem ipsum dolor sit amet consectetur adipisicing elit.
Sapiente optio dolorem quam blanditiis, maxime iure nulla voluptatum
cupiditate deserunt, illo illum architecto voluptatem laboriosam inventore
animi quaerat culpa recusandae fugit. Lorem, ipsum dolor sit amet
consectetur adipisicing elit. Quae voluptatum error ab labore inventore
distinctio explicabo quis accusantium, facere nam totam itaque
necessitatibus, sit excepturi sint sequi autem blanditiis nemo?
</p>
{{end}}

{{define "sugestions"}}
<ul>
<li>Sugestion 1</li>
<li>Sugestion 2</li>
<li><a href="https://google.com">Search</a></li>
</ul>
{{end}}